*{
  font-family: Verdana, Arial, sans-serif;
}
.scrollbar {
  width: 500px;
  height: 150px;
  overflow-y: scroll;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  background-color: grey;
}
